.main_nav {
  display: flex;
  justify-content: space-between;
  height: 65px;
  outline: black solid;
  background-color: rgb(249, 248, 247);
}
.main_nav > img {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.main_nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 100%;
  outline: red solid;
}
