.cont {
  position: absolute;
  top: 900px;
  height: 400px;
  width: 90%;
  /* outline: pink solid; */
  left: 5%;
  right: 5%;
}
.left {
  color: lightblue;
}
.right {
  color: lightblue;
}
.incon {
  height: 90%;
  width: 85%;
  margin: auto;
  /* outline: red solid; */
  padding-top: 10px;
}
.incon > h2 {
  font-family: FreightSansLF Pro, Noto Sans JP, Noto Sans KR, Helvetica Neue,
    Helvetica, Arial, Lucida Grande, Segoe UI, Tahoma, -apple-system, Roboto,
    sans-serif;
  font-weight: 700;
  color: #292929;
  font-size: 1.3rem;
  line-height: 2rem;
}
.card_cont {
  overflow: hidden;
  /* padding: 20px; */
  height: 350px;
  cursor: pointer;
  /* width: 20%; */
  /* outline: maroon solid; */
  /* margin-right: 10%; */
}
.im {
  /* padding: 20px; */
  transition: transform 0.8s ease;

  object-fit: cover;
}
.card_cont:hover img {
  transform: scale(1.1);
}
