.banner {
  height: 400px;
  width: 100%;
  position: relative;
  /* outline: tomato solid; */
  background: rgba(0, 0, 0, 0.2);
}
.img_c {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.abs {
  position: absolute;
  top: 10%;
  left: 20%;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 32px;
  text-shadow: 0 0 5px rgb(0 0 0 / 80%);
}
.form {
  /* position: sticky; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  top: 50%;
  left: 15%;
  height: 80px;
  width: 70%;
  /* outline: solid yellow; */
  background-color: rgb(245, 244, 243);
  border-radius: 8px;
  /* z-index: 1; */
}
.inputField {
  /* outline: blue solid; */
  position: relative;
  display: flex;
  width: 25%;
  justify-content: center;
  /* margin-top: 4%; */
}

.inputField > input {
  text-align: center;
  /* outline: red solid; */
  padding: 20px 20px;
  padding-top: 18px;
  border: 1.8px solid rgba(107, 107, 107, 0.4);
  border-radius: 3px;
  width: 90%;
  color: black;
  font-size: large;
}

.inputField input:focus {
  border: 1.8px solid rgb(113, 147, 212);
  outline: none;
}

.inputField span {
  pointer-events: none;
  opacity: 0.5;
  position: absolute;
  padding-left: 70px;
  left: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: text;
}

.inputField input:focus + span,
.inputField input:not(:placeholder-shown) + span {
  top: 7px;
  -webkit-transform: scale(0.7) translateY(-10%) translateX(-8.5px);
  transform: scale(0.7) translateY(-10%) translateX(-8.5px);
}

.inputField input,
.inputField span {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}
.btn {
  padding: 16px 32px;
  border-radius: 100px;
  background-color: #245abc;
  border-color: #245abc;
  color: #fff;
  box-shadow: none;
  font-size: 1rem;
  line-height: 24px;
  /* outline: springgreen solid; */
  /* margin-top: 10%; */
  cursor: pointer;
  font-weight: 700;
}
.icon {
  position: absolute;
  left: 3%;
  top: 29%;
}
.check {
  width: 35%;
}
.check1 {
  width: 20%;
}
